/**
 * Auto Gradient (auto-gradient.styl)
 * ----------------------------------
 * @author Marko Radak <mail@markoradak.com>
 * @since  0.1.0
 * @desc   Provides function that automatically
 *         creates gradient based on the
 *         given color.
 *
 * @syntax
 *   auto-gradient(<type>, <direction>, <color>, <strength>, ?<spin>)
 *
 * @examples
 *   auto-gradient(linear, to right, $yellow, 50%)
 *   auto-gradient(radial, circle at center, $green, 50%, 20deg)
 */

auto-gradient($type, $direction, $color, $strength, $spin...)

  // blend darker and lighter colors
  $cA = blend-colors($color, #000, overlay, $strength)
  $cB = blend-colors($color, #FFF, overlay, $strength)

  // add spin if specified
  if ($spin)
    $cB = blend-colors($cB, spin($color, $spin), overlay, $strength)

  // invert colors if radial
  if ($type == 'radial')
    $colorA = $cB
    $colorB = $cA
  else
    $colorA = $cA
    $colorB = $cB

  // create string from direction
  $direction = join(' ', $direction)

  // create props
  $props = join(', ', $direction, $colorA, $colorB)

  // return
  $type + '-gradient(' + $props + ')'
