body .box:hover {
  -webkit-animation: test 1000ms forwards;
  animation: test 1000ms forwards;
}
body .box {
  -webkit-animation: test 0ms 100ms;
  animation: test 0ms 100ms;
}
@-webkit-keyframes test {
  20% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
  }
  40% {
    -webkit-transform: scale(0.63);
    transform: scale(0.63);
  }
  60% {
    -webkit-transform: scale(0.44);
    transform: scale(0.44);
  }
  80% {
    -webkit-transform: scale(0.53);
    transform: scale(0.53);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes test {
  20% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
  }
  40% {
    -webkit-transform: scale(0.63);
    transform: scale(0.63);
  }
  60% {
    -webkit-transform: scale(0.44);
    transform: scale(0.44);
  }
  80% {
    -webkit-transform: scale(0.53);
    transform: scale(0.53);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
