body .box:hover {
  -webkit-animation: bodybox 1000ms;
  animation: bodybox 1000ms;
}
@-webkit-keyframes bodybox {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes bodybox {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
