@require '../index.styl'

body
  margin 0
  display flex
  height 100vh
  align-items center
  justify-content center
  background white

.box
  font-family sans-serif
  font-size 3em
  padding 10px 20px
  background-color $squeezed-lime
  color white

  &:hover
    cursor pointer
    background lighten($squeezed-lime, 20%)

  &:active
    spring-in-place 1000ms, 5, 9, translateX(-500px)
