/**
 * Props (props.styl)
 * ------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Provides autoprefixing mixins for all
 *         properties that need vendor prefixes.
 *         Uses information from 'support.json'.
 */

// support list
vendors-list = webkit, moz, ms, o

-vendor()

  // get prop
  prop = called-from[0]

  // fake high version
  sp = 9999

  // iterate
  for vendor in vendors-list

    // asign browser
    if vendor == 'webkit'
      browsers = chrome, safari, opera-w

    else if vendor == 'moz'
      browsers = firefox

    else if vendor == 'ms'
      browsers = ie, edge

    else
      browsers = opera-o

    // create conditional object
    conditional = ()

    // iterate
    for browser in browsers

      check = join('.', 'support', prop, browser)
      check = convert(check)

      // strip unnecesarry opera tags
      min-browser = replace('-w', '', browser)
      min-browser = replace('-o', '', min-browser)

      // add 'min' suffix to browser name
      min-browser = join('-', min-browser, 'min')
      min-browser = convert(min-browser)

      // create rule
      rule = join(' < ', min-browser, check)

      // push rule to conditional object
      push(conditional, rule)

    // add 'or' statement if multiple rules
    if length(conditional) > 1
      conditional = join('||', conditional)

    // convert conditional
    conditional = convert(conditional)

    // create prefixed prop
    prefixedProp = join('', '-', vendor, '-', prop)
    prefixedProp = unquote(prefixedProp)

    // apply prop if true
    if conditional
      {prefixedProp} arguments

  // print default
  {prop} arguments

// kickoff if true
if auto-prefix

  for prop in support
    define( ''+prop, @() {
      -vendor(arguments)
    })
