/**
 * Aliases (aliases.styl)
 * ----------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Creates aliases for various functions,
 *         mixins, etc.
 */

legacySupport = ie-min < 9
handheldDevices = unquote('only screen and (max-device-width: 1024px)')
