/**
 * Queries (queries.styl)
 * ----------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Defines queries used in checking
 *         vendor prefix support for given prop.
 */

// -webkit-
prefix-webkit()

  chromeVersion = create-object('support', arguments, 'chrome')
  safariVersion = create-object('support', arguments, 'safari')
  operaVersion  = create-object('support', arguments, 'opera-w')

  if \
    chrome-min < chromeVersion || \
    safari-min < safariVersion || \
    opera-min  < operaVersion
      return true

  else
    return false

// -moz-
prefix-moz()

  firefoxVersion = create-object('support', arguments, 'firefox')

  if \
    firefox-min < firefoxVersion
      return true

  else
    return false

// -ms-
prefix-ms()

  ieVersion   = create-object('support', arguments, 'ie')
  edgeVersion = create-object('support', arguments, 'edge')

  if \
    ie-min   < ieVersion || \
    edge-min < edgeVersion
      return true

  else
    return false

// -o-
prefix-o()

  operaVersion = create-object('support', arguments, 'opera-o')

  if \
    opera-min < operaVersion
      return true

  else
    return false
