/**
 * Config (config.styl)
 * --------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Parses data from 'config.json'.
 *         Can be overwritten by defining same
 *         variables before requiring mixer.
 */

// parse data from 'config.json'
config = json('../../../../config.json', { hash: true })

// autoprefix
auto-prefix ?= config.auto-prefix

// minimum browser support
chrome-min  ?= config.browsers.chrome-min
firefox-min ?= config.browsers.firefox-min
opera-min   ?= config.browsers.opera-min
safari-min  ?= config.browsers.safari-min
ie-min      ?= config.browsers.ie-min
edge-min    ?= config.browsers.edge-min

// important
important-everything ?= config.important-everything

// reset
auto-reset     ?= config.auto-reset
auto-normalize ?= config.auto-normalize

// breakpoints
tablet-breakpoint ?= config.tablet-breakpoint
mobile-breakpoint ?= config.mobile-breakpoint

// overwrite colors
overwrite-colors ?= config.overwrite-colors
