/**
 * Config (config.styl)
 * --------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Parses data from 'config.json'.
 *         Can be overwritten by defining same
 *         variables before requiring mixer.
 */

// parse data from 'config.json'
__mixer = json('../config.json', { hash: true, leave-strings: true })

__mixer_keys = \
  browsers, autoImportant, autoReset, autoNormalize, tabletBreakpoint, mobileBreakpoint, overwrite

mixer ?= __mixer

for key in __mixer_keys
  unless( mixer[key] )
    mixer[key] = __mixer[key]

configurePlugins( mixer )
