/**
 * Shorthand (shorthand.styl)
 * --------------------------
 * @author OhLabs™ <@OhLabsIO> (https://ohlabs.io)
 * @since  0.1.0
 * @desc   Shorthand functions used in various
 *         functions, mixins, etc.
 */

strip-units()
  unit(arguments, '')

add-braces()
  join('', '(', arguments, ')')

add-quotes()
  join('', arguments)

create-string()
  join(', ', arguments)

create-prop()
  unquote( join('', arguments) )

create-val()
  unquote( join('', arguments) )

create-block()
  unquote( join(' ', arguments) )

create-object()
  join('', '{', arguments, '}')

create-list()
  unquote( join(', ', arguments) )

create-array()
  join('', '["', arguments, '"]')

create-key()
  join('', '"', arguments, '":')

create-value()
  join('', '"', arguments, '"')
