/**
 * Legacy Color (legacy-color.styl)
 * --------------------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Provides opaque color for legacy
 *         browsers if color contains alpha.
 */

// initiate if ie 8 and below
if legacySupport

  color()
    color arguments

    // alpha
    if (alpha(arguments) < 1)
      color rgb(arguments)
