/**
 * Legacy Opacity (legacy-opacity.styl)
 * ------------------------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Provides opacity fallback for legacy
 *         browsers using ms-filter.
 */

// initiate if ie 8 and below
if legacySupport

  opacity()
    opacity arguments

    // set opacity via ms-filter
    -ms-filter 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' +round(arguments * 100) + ')'

    // apply opacity to children
    & *
      filter inherit
