/**
 * Transparent (transparent.styl)
 * ----------------------------
 * @author OhLabs™ <@OhLabsIO> (https://ohlabs.io)
 * @since  0.1.0
 * @desc   Provides function that creates
 *         transparent color from the one
 *         provided.
 *
 * @syntax
 *   transparent([prop], [n])
 *
 * @examples
 *   transparent(white, 0.5)
 *   transparent(black, 0.8)
 */

transparent()
  rgba(arguments[0], arguments[1])
