/**
 * Support (support.styl)
 * ----------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Parses data from 'support.json', used
 *         in vendor prefixing and legacy
 *         functions.
 */

support = json('./lib/data/support.json', { hash: true })
