/**
 * Antialias (antialias.styl)
 * --------------------------
 * @author OhLabs™ <@OhLabsIO> (https://ohlabs.io)
 * @since  0.1.0
 * @desc   Font antialiasing block mixin.
 *
 * @syntax
 *   antialias()
 */

antialias()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
