/**
 * Transform (transform.styl)
 * --------------------------
 * @author Marko Radak <@iammarkoradak>
 * @since  0.1.0
 * @desc   Handles 'transform' property
 *         separately from props function,
 *         as 'transform' is the only prop
 *         that can appear both as a prop
 *         and a value - in 'transition'
 */

if auto-prefix

  transform()

    // print prefixed

    if prefix-webkit('transform')
      -webkit-transform arguments

    if prefix-moz('transform')
      -moz-transform arguments

    if prefix-ms('transform')
      -ms-transform arguments

    if prefix-o('transform')
      -o-transform arguments

    // print unprefixed
    transform arguments

  transition()

    // create transition function
    getTransitionValue()

      // iterate through transition values
      values = ()
      for argument in arguments

        // iterate through each transition value bit
        argValues = ()
        for arg in argument

          // create test argument
          testArg = create-string(arg)

          // add vendor prefix if transform
          if (testArg == 'transform()')
            argVal = create-val(vendorPrefix, 'transform')

          // continue otherwise
          else
            argVal = arg

          // push each transition value
          push(argValues, argVal)

        // push final transition value
        composedValue = create-block(argValues)
        push(values, composedValue)

      // create initial arguments test
      testArguments = '"' + arguments '"'

      // create list if arguments contain more than 1 value pair
      if (match('(?![^(]*\)),', testArguments))
        transitionValue = create-list(values)

      // otherwise create block
      else
        transitionValue = create-block(values)

    // print prefixed

    if prefix-webkit('transition')
      vendorPrefix = '-webkit-'
      -webkit-transition getTransitionValue(arguments)

    if prefix-moz('transition')
      vendorPrefix = '-moz-'
      -moz-transition getTransitionValue(arguments)

    if prefix-ms('transition')
      vendorPrefix = '-ms-'
      -ms-transition getTransitionValue(arguments)

    if prefix-o('transition')
      vendorPrefix = '-o-'
      -o-transition getTransitionValue(arguments)

    else
      vendorPrefix = ''

    // print unprefixed
    transition getTransitionValue(arguments)
