/**
 * Antialias (antialias.styl)
 * --------------------------
 * @author Marko Radak <mail@markoradak.com>
 * @since  0.1.0
 * @desc   Font antialiasing block mixin.
 *
 * @syntax
 *   antialias()
 */

antialias()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
