/**
 * Everything (everything.styl)
 * ----------------------------
 * @author Marko Radak <mail@markoradak.com>
 * @since  0.1.0
 * @desc   Creates selector for every element
 *         including pseudo elements.
 *
 * @syntax
 *   +everything()
 *     <props>
 */

everything()

  *
  *:before
  *:after
    {block}

    &::-webkit-input-placeholder
      {block}
    &:-moz-placeholder
      {block}
    &::-moz-placeholder
      {block}
    &:-ms-input-placeholder
      {block}
