/**
 * Icon Font (icon-font.styl)
 * --------------------------
 * @author Marko Radak <mail@markoradak.com>
 * @since  0.1.0
 * @desc   Loads icon font and creates sub-mixins.
 *
 * @syntax
 *   load-font(<name>) // loads the font
 *
 *   // creates icon …
 *
 *   icon-fa <name>
 *   icon-ion <name>
 */

@require '../fonts/fontawesome'
@require '../fonts/ionicons'

load-font()

  if (arguments = 'font-awesome' || arguments = 'fontawesome')
    $path = $stylusMixerPath + '/fonts/fontawesome/fontawesome-webfont'
    font-face('FontAwesome', $path, formats: eot woff woff2 ttf)

  else if (arguments = 'ionicons')
    $path = $stylusMixerPath + '/fonts/ionicons/ionicons'
    font-face('Ionicons', $path, formats: eot woff ttf)

// FontAwesome …

icon-fa($icon, $position='before')
  if (match(':before|:after', selector()))
    font-family 'FontAwesome'
    content $fontawesome[$icon]
  else
    &:{$position}
      font-family 'FontAwesome'
      content $fontawesome[$icon]

// aliases
icon-fontawesome = icon-fa
fontawesome = icon-fa
fa-icon = icon-fa

// import all
import-fontawesome()
  for $icon in $fontawesome
    .fa-{$icon}
      icon-fa($icon)

// Ionicons …

icon-ion($icon, $position='before')
  if (match(':before|:after', selector()))
    font-family 'Ionicons'
    content $ionicons[$icon]
  else
    &:{$position}
      font-family 'Ionicons'
      content $ionicons[$icon]

// aliases
icon-ionicons = icon-ion
ionicons = icon-ion
ion-icon = icon-ion

// import all
import-ionicons()
  for $icon in $ionicons
    .ion-{$icon}
      icon-ion($icon)
