/**
 * Pseudo (pseudo.styl)
 * --------------------
 * @author Marko Radak <mail@markoradak.com>
 * @since  0.1.0
 * @desc   Adds pseudo classes to pseudo elements.
 *
 * @syntax
 *   +pseudo([argument])
 *     <props>
 */

pseudo()
  ^[-1]:{arguments}^[-1..-1]
    {block}
