/**
 * Webkit (webkit.styl)
 * --------------------
 * @author Marko Radak <mail@markoradak.com>
 * @since  0.1.0
 * @desc   Block mixin outputing content exclusively
 *         for webkit browsers, using media query.
 *
 * @syntax
 *   +webkit()
 *     <props>
 */

webkit()
  @media screen and (-webkit-min-device-pixel-ratio:0)
    {block}
